@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300&display=swap');

/* general rules */
html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    --primary-color: #006d77ff;
    --primary-color-light: #83c5beff;
    --secondary-color-light: #ffddd2ff;
    --secondary-color:#e29578ff;
    --white: #edf6f9ff;
    --black: #201F1F;
  }


body{
    font-family: 'Roboto', sans-serif;
    color:var(--black);
    background-color: var(--white);
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
}

/* --------- mutual components  ---------*/

.button{
    padding: 5px 20px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 100%;
    color: var(--black);
    outline: solid 1px var(--black);
    margin:  10px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    -webkit-appearance: none;
}

.botton-primary{
    background-color: var(--white);
}

.button-secondary{
    background-color:var(--primary-color);
    color:var(--white)
}

.button-tertiary{
    background-color:var(--secondary-color);
}

.button:hover,.button:active, button:focus{
    scale: 1.05;
}

.button-primary:active,.button-primary:focus{
    background-color: var(--secondary-color-light);
}

.button-secondary:active,.button-secondary:focus{
    background-color: var(--primary-color-light);
}

.button-tertiary:active,.button-tertiary:focus{
    background-color: var(--secondary-color-light);
}


.link{
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.link:hover{
    font-weight: bold;
}

.link--large{
    font-size: 20px;
}


.section{
    margin: 0 30px 60px 30px;
}

.section__title{
    text-align: center;
    margin-bottom: 40px;
}


.section__subtitle{
    text-align: center;
    margin: 60px 0 30px;
}


.section__content{
    display:flex;
    flex-direction: column;
}

.section__text{
    margin-bottom: 20px;
}

.section__paragraph{
    margin-bottom: 10px;
}

.section__paragraph--center{
    text-align: center;
}

.section__paragraph--highlight{
    font-style: italic;
    font-weight: bold;
    margin-top: 30px;
}


/* -------- header -------------- */
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 20px 5% 20px;
}

.header a {
    text-decoration: none;
}

.logo{
    display:none;
}

.menu__checkbox{
    position: absolute;
    left: -999px;
}

.menu__toggler{
    cursor: pointer;
}

.logo__hamburger{
    color:var(--primary-color);
    font-size: 200%;
    text-align: right;
}

.logo__image{
    width: 200px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.logo__img{
    width:100%;
    height:100%;
    object-fit:cover;
}


.menu__list{
    display:none;
    margin:0;
    padding:0;
    list-style-type: none;
    background-color: var(--white);
}

.menu__item{
    border-bottom: 1px solid var(--primary-color);
    font-size: 18px;
}

.menu__link {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color:black;
}

.menu__link:hover {
    background-color: var(--primary-color-light);
}

.menu__checkbox:checked ~ .menu__list{
    display:block;
}


/* -------- hero --------- */
.hero{
    position: relative;
}

.hero__background{
    background: var(--secondary-color);
    height: 400px;
    width: 100%;
    clip-path: polygon(50% 85%, 100% 70%, 100% 0, 0 0, 0% 70%);
    position:absolute;
    left:0;
    top:0;
    z-index: -1;

}

.hero__content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 0 20px;
    margin: 5% 10% 0 10%;
}

.hero__text{
    text-align: center;
    font-size: 120%;
}

.hero__text > h1{
    margin: 20px auto; 
}

.hero__image-container{
    height: 120px;
    width: 300px;
}

.hero__image{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 5px;
}

.hero__buttons{
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}


/* --------- news section --------- */
#news-banner{
    margin-top: 30px;  
    margin-bottom: 60px;
}

#news-banner::after,
#news-banner::before{
	content: "";
	background-color: var(--primary-color);
	display:block;
	height: 2px;
	width: 100px;
}

#news-banner::after{
	margin: 20px auto 0 auto;
}

#news-banner::before{
	margin: 0 auto 20px auto;
}

#news-banner p{
    font-style: italic;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;

}

 /* --------- welcome section --------- */
.welcome__media{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.welcome__video{
    max-width: 300px;
    margin: 10px auto;
}


/* --------- calender section --------- */
.calendar{
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.calendar__item{
    height: 120px;
    width: 300px;
    background-color: var(--secondary-color);
    color: var(--black);
    border-radius: 3px;
    display:flex;
}

.calender__item--highlight{
    background-color: var(--primary-color);
    color:var(--white)
}

.calendar__date{
    flex: 1 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: solid 2px var(--white);
    text-transform: uppercase;
    font-weight: bolder;
}

.calendar__date h3:first-child{
    /* font-size: 180%; */
    padding-bottom: 5px;
}

.calendar__date h3:first-child{
    font-size: 130%;
}

.calendar__date p{
    font-size: 80%;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    
}
.calendar__info{
    flex: 1 55%;
    margin: 10px;
}

.calendar__info h3{
    margin-bottom: 10px;
}

.calendar__info h4{
    margin-bottom: 5px;
}


/* --------- contact us --------- */
.form{
    max-width: 400px;
    margin: 0 auto;
}

.form__buttons{
    display:flex;
    justify-content: flex-end;
}

.form__buttons .button{
    margin-top:0;
}

.form__buttons .button:last-child{
    margin-right:0;
}


.text-input, .text-field{
    display: block;
    width: 100%;
    margin: 2px 0 10px 0;
    border-radius: 2px;
    border: solid 2px var(--secondary-color);
    outline-color: var(--black);
}

.text-input{
    height: 25px;
}

.text-field{
    font-family: inherit;
}

.text-input:hover, .text-field:hover{
    border: solid 2px var(--primary-color);
}

.contact__title{
    text-align: center;
}

.location{
    margin: 30px 30px;
}

.location__map{
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  padding-top: 66.66%;
}

.iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* --------- footer --------- */
.footer{
    position:relative;
    font-size: smaller;
    color:var(--white)
}

.footer__background{
    background: var(--primary-color);
    height: 640px;
    width: 100%;
    clip-path: polygon(50% 60%, 100% 40%, 100% 100%, 0 100%, 0% 40%);
    position:absolute;
    left:0;
    bottom:0;
    z-index: -1;
}

.footer__title{
    padding-bottom: 2px;
    margin-bottom: 4px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--white);
    display: inline-block;
}

.footer__link{
    text-decoration: none;
    color:var(--white);
}

.footer__link:hover{
    font-weight: bold;
}

.footer__content{
    padding: 0 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.footer__links,.footer__contact {
    flex: 1 1 50%;
}

.footer__social-media{
    text-align: center;
}

.copyright{
    flex: 0 0 100%;
    margin-top: 30px;
    text-align: center;
    order:4;
}

.footer__social-media{
    flex: 0 0 100%;
    margin-top: 20px;
    text-align: center;
    order:3;
}

.footer__icons{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.footer__contact{
    text-align: right;
}

.fa-brands{
    font-size: 20px;
}

.fa-brands:hover{
    font-weight: bold;
}



/* gallery page */

.gallery-grid{
    padding: 40px 40px;
    margin: 0 auto 40px auto;
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 5px;

}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery .section__title{
    margin: 0;
    padding-top: 60px;
}



/* about us page */

#about .section__title{
    margin: 0;
    padding: 60px 0;
}

.people{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.person{
    margin-bottom: 40px;
}

.person__photo{
    width: 150px;
    height: 150px;
    
}

.person__img{
    border-radius: 50%;
    border: solid 2px var(--primary-color);
    width:100%;
    height:100%;
    object-fit:cover;
}

.person__info{
    text-align: center;
}

.person__info--bold{
    font-weight: bold;
}

.history__photo{
    max-width: 300px;
    margin: 0 auto 10px;
}

.history__img{
    width: 100%;
}




@media screen and (min-width: 481px){

    /* header */
    .header{
        margin-bottom: 20px;
    }

    /* hero */
    .hero__content{
        margin-top: 0;
    }

    .hero__buttons{
        flex-direction: row;
    }

    .hero__image-container{
        height: 200px;
        width: 450px;
    }

    .hero__image{
        border-radius: 10px;
    }

    .section{
        margin: 0 30px 90px 30px;
    }


    /* gallery page */
    .gallery-grid{
        grid-auto-rows: 250px;
        grid-template-columns: repeat(2,1fr);
        grid-auto-flow: dense;
    }
    
    .gallery__img--big{
        grid-row: span 2;
        grid-column: span 2;
    }

    /* about us page */
    .people{
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 400px;
        margin: 0 auto;
    }
    .person{
        flex: 0 0 50%;
    }
    .person__photo{
        margin: 0 auto;
    }

}


@media screen and (min-width: 800px){

    .welcome__text, .welcome__media{
        flex-basis: 50%
    }

    .welcome__video{
        width: 500px;
    }

    .section__content{
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .section{
        width: 750px;
        margin: 0 auto 60px auto;
    }

    .section__title{
        margin-top :60px;
    }


    /* calender section */
    .calendar{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px
    }


    .form{
        flex: 1 40%;
        margin: 0 30px;
    }

    .location{
        flex: 1 60%;
        margin: 0 30px;
    }

    .footer__background{
        height: 400px;
    }

    
    .footer__links,.footer__social-media,.footer__contact {
        flex: 1 1 calc(100%/3);
    }

    .footer__links{
        order:1;
    }
    
    .footer__social-media{
        order:2;
    }
    
    .footer__contact{
        order:3;
    }

    /* gallery page */
    .gallery-grid{
        grid-auto-rows: 300px;
    }
    



}

@media screen and (min-width: 1025px){

    /* header */
    .header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin:0 20px;
    }

    .logo__image{
        width:170px;
        height: 120px;
    }

    .logo{
        display:flex;
    }

    .menu__toggler{
        display: none;
    }

    .header .menu .menu__list{
        display: flex;
    }

    .menu__item{
        border:0;
    }

    .menu__link{
        margin: 0 5px;
        border-bottom: solid 1px var(--white);
    }

    .menu__link:hover, .menu__link:focus, .menu__link:active {
        color: var(--primary-color);
        background-color: var(--white);
        border-bottom: 1px solid var(--primary-color);
    }


    /* hero */
    .hero__image-container{
    
        height: 300px;
        width: 750px;
    }

    .hero__image{
        border-radius: 10px;
    }

    .hero__buttons{
        gap: 50px;
    }

    #news-banner{
        margin: 90px auto;
    }

    .section{
        width: 950px;
    }

    .section__title{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /* gallery page */
    .gallery-grid{
        grid-template-rows: 280px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: dense;
    }


      /* about us page */
    
    .people{
        max-width: 800px;
    }

    .person{
        flex-basis: 25%;
    }


}